@model FrontEnd.Models.DBErroresViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DBErroresViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdError)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdError)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorSeveridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorSeveridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorLinea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorLinea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorProcedimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorProcedimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
