@model FrontEnd.Models.EnvioViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EnvioViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalleDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEnvio)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdEnvio  }) |
    <a asp-action="Index">Back to List</a>
</div>
