@model IEnumerable<FrontEnd.Models.AutoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertadoPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificadorPor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificadorPor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdAuto  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdAuto }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdAuto })
            </td>
        </tr>
}
    </tbody>
</table>
